.page {
  font-family: 'IBM Plex Mono';
  background-color: var(--main-background-color);
  color: var(--text-color);
  font-size: var(--font-size);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-inline-size: 375px;
}

.header {
  position: relative;
  min-height: 668px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  margin-block-end: 40px;
  padding-inline-start: var(--padding);
  padding-inline-end: var(--padding);
  min-block-size: 100vh;
  padding-block-start: var(--padding, 10px);
  padding-block-end: var(--padding, 10px);
}

.rec {
  position: absolute;
  inset-block-start: 10px;
  inset-inline-end: 20px;
}

.rec::before {
  content: "REC";
  color: var(--rec-color);
  line-height: 25px;
}

.rec::after {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-color: var(--accent-color);
  border-radius: 50%;
  margin-inline-start: 5px;
  vertical-align: middle;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  color: var(--header-theme-menu-color);
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}

.header__theme-menu-button {
  cursor: pointer;
  background: transparent;
  border: 1px solid transparent;
  color: var(--header-theme-menu-color);
  text-transform: lowercase;
  font-weight: 400;
  font-size: 18px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-hover-color); 
}

.header__theme-menu-button:focus {
  outline: none
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--header-theme-menu-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--header-theme-menu-color);
}

.header_title {
  margin: 0;
  justify-self: start;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header_subtitle {
  font-weight: 700;
  line-height: 23.4px;
  color: var(--subtitle-color);
  align-self: center;
  justify-self: end;
}

.title-decor {
  background-color: var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  inset-inline-end: 10px;
  inset-block-start: 10px;
  width: 25px;
  height: 25px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  inset-inline-start: 10px;
  inset-block-end: 10px;
  width: 25px;
  height: 25px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.main {
  background-color: var(--main-background-color);
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-inline: var(--padding);
}

.section {
  display: grid;
  flex-direction: column;
  gap: 20px;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title_of_section {
  font-size: inherit;
  color: var(--title-color-of-section)
}

.subtitle {
  font-size: var(--font-size, 18px);
  font-weight: 700;
  line-height: 23.4px;
  color: var(--subtitle-color);
}

.section_p {
  font-size: var(--font-size, 18px);
  font-weight: 400;
  line-height: 23.4px;
  color: var(--text-color);
  letter-spacing: 0%;
}

.section_link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section_link:focus-visible {
  outline: 1px solid var(--text-color);
}

.section_link:hover {
  border-block-end: 1px solid var(--text-color);
}

.regular-mini-title {
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
}

.better_than_gold_fish .first-mini-title {
  margin-block-end: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card_images {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.card_image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

.footer {
  display: grid;
  min-height: 668px;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-block-start: 40px;
}

.footer_title {
  line-height: 83%;
  color: var(--title-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  text-shadow: 4px 4px 0 var(--accent-color);
}


@media (width >= 768px) {
  .header {
    min-block-size: 1024px;
    grid-template-columns: 1fr 1fr;
    margin-block-end: 60px;
    padding-inline: 20px;
  }

  .rec {
    margin-block-start: 20px;
  }

  .header__theme-menu {
    grid-column: 2; 
    justify-self: end;
  }

  .decorated-zone::before {
    inset-inline-end: 20px;
    inset-block-start: 20px;
  }

  .decorated-zone::after {
    inset-block-end: 20px;
    inset-inline-start: 0px;
  }

  .header_title {
    grid-column: span 2;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-inline-start: -20px;
  }

 .header_subtitle {
    grid-column: 2;
  }

  .main {
    padding-inline: 20px;
    gap: 80px;
  }

  .focus_is_hard,
  .better_than_gold_fish {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  .focus_is_hard .title_of_section,
  .better_than_gold_fish .title_of_section {
    grid-column: 1;
  }

  .focus_is_hard .article,
  .better_than_gold_fish .article {
    grid-column: 2;
  }

  .attention {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
  }

  .attention .article {
    grid-column: auto;
  }

  .card {
    gap: 20px;
  }

  .card_images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .card_image {
    block-size: 100%;
  }

  .card_image_sunset { grid-column: span 2; grid-row: 1; }
  .card_image_ice { grid-column: 3; grid-row: 1/3; }
  .card_image_tape { grid-column: 1; grid-row: 2/4; }
  .card_image_books { grid-column: 2; grid-row: 2; }
  .card_image_street { grid-column: span 2; grid-row: 3; }

  .footer {
    min-block-size: 1024px;
    margin-block-start: 60px;
    padding-inline: 20px;
  }

  .footer_title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    grid-column: span 2;
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .attention {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .attention .title_of_section {
    grid-column: 1 / -1;
    margin-block-end: 20px;
  }

  .attention .article {
    grid-column: span 1;
  }

  .card .subtitle {
    grid-column: 1 / -1;
    margin-block-end: 10px;
  }

  .footer {
    min-block-size: 768px;
  }
}